@import "~bootstrap/dist/css/bootstrap.min.css";
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 300px;
}
p {
  font-size: 300%;
}
button {
  background-color: azure;
  border-radius: 12%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 20px;
}
