@import "~bootstrap/dist/css/bootstrap.min.css";
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 300px;
}
p {
  font-size: 300%;
  font-weight: bold;
}
